body{
    margin:0;
}

header{
    width: 100%;
    color:white;
    background-color:darkblue;
    
}

ul{
    margin:0;
    color:white;
    list-style:none;
    padding:0;
    display: flex;
    justify-content: center;
}

.menu li{
    text-align:center;
    flex-grow:1;
}

.menu li:hover{
    cursor:pointer;
    background-color:greenyellow;
}

.menu li a{
    display:block;
    padding:20px;
    border-right: 3px solid black;
    color:white;
    text-decoration: unset; 
}
