
html{
    font-family: 'Inter', sans-serif;
}

body{
    margin:0;
    background-color:rgba(230, 230, 236, 0.829);
}

header{
    background-color: rgba(0,0,255,0.8);
    color:white;
    width:100%;
}




header h1{
    text-align:center;
    font-size:60px;
}

article footer{
    text-align:center;
}

section h2{
    font-size: 30px;
    text-align:center;
}

footer nav{
    background-color:rgba(0,0,255,0.8);
    padding: 2px;
    text-align: center;
}




